body {
	background: #e8e8e8;
	font-family: 'Helvetica Neue', Helvetica, Arial;
}

.brick {
	background: white;
	
	border-radius: 0px;
	color: #333;
	border: none;
}


.brick .img {
	width: 100%;
	max-width: 100%;
	display: block;
}

.brick h3, .brick h5 {
	text-shadow: none;
}
